@import 'partials/variables';

.iconPage{
width:100%;
flex-direction:column;
display:flex;
align-items:center;
justify-content:center;
// padding-bottom:15vh;
// padding-top:10vh;
height:100vh;
background-color: #E8E8E8;
	.fa-chevron-down{
		font-size: 2rem;
		color:$black;
		margin:auto;
	}
}



.skillIcons{ 
	width:100%;
	margin-bottom:50px;
	color: $black;

		span {
	padding:0px 20px 0px 20px;
	font-size:6rem;
	
}

		p{
		font-size:1.5rem;
		color:$black;
		text-align: center;
		font-weight:bold;
		padding:0px;
		margin:0px;
		}
}	

.iconFirstRow,  {
font-size: 9rem;
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
width:100%;
flex-wrap: no-wrap;
padding-bottom:20px;
}

.iconGroupThree{
font-size: 9rem;
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: no-wrap;
padding-bottom:50px;
}

.skill {
padding: 0px 10px;
}

.iconSecondRow{
font-size: 9rem;
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
width:100%;
flex-wrap: no-wrap;
}

.iconPage h2{
margin-bottom:60px;
text-align: center;
// font-family: 'Roboto';
}

.fa-chevron-down {
font-size: 2rem;
margin-top:30px;
}