@import 'partials/variables';

.titlePage {
background-color: white;
height: 100vh;
}

.update, .update1, .update2, .update3{
	width:33%;
	justify-content: flex-end;
	align-items: center;
	display:flex;
}

.line{
	color:$black;
	padding-left:10px;
}

.nav{

flex-direction: row;
display:flex;
align-items:center;	
color: $black;
padding:10px 0px 10px 0px;
font-weight:bold;
font-family:'Lato', sans-serif;
font-size: 1rem;

}

.logoBox, .socialBox{
width:50%;
display:flex;	
color:$black;
}

.socialBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color:$black;
    	span{
    		font-size:1.2rem;
    		padding-right:5px;
    	}
    // font-size:1.2rem;
}

nav {
flex-direction: row;
display:flex;
font-size: 1rem;
margin-left: 60px;
margin-right: 60px;;
align-items:center;
justify-content: space-between;
font-weight:bold;
color: $black;
	.social{
	color: $black;
	font-weight:bold;

	}
}

.logo span{
font-weight: bold;
font-size: 1.5rem;
padding:5px 10px;
border: 5px solid $black;
color: $black;
}


.logo span:hover{
	background-color: lightblue;
}

.next {
display: flex;
flex-direction: row;
margin-right: 60px;
margin-left:60px;
color:black;
font-weight: bold;
justify-content: space-between;
display:none;

	a {
		color:black;
	}

	.home{
	font-size: 1.5rem;
	padding:5px;
	}

	.fa-bars{
		padding-left:5px;
		margin-left:10px;
	}

}

.show{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    margin-left:60px;
    color:black;
    font-weight: bold;
     justify-content: space-between;
    	a{
    		color:black;
    	}

    	.home{
    	font-size: 1.5rem;
    	padding:5px;
    	}

    	.fa-bars{
    		padding-left:5px;
    		margin-left:5px;
    	}
}

.show .home:hover{ 
background-color: lightblue;
padding:5px;
font-size: 1.5rem;
}



.fa-bar{
	cursor: hand;
}

// .hide {

// 	p{
// 	font-size: 1.5rem;
// 	padding:5px;
// 	font-weight: bold;
// 	}

// 	a {
// 	color:black;
// 	font-weight:bold;
// 	}

// 		.home:hover{
// 		background-color: lightblue;
// 		padding:5px;
// 		font-size: 1.5rem;
// 		}

	
// }


.titlePage .icon {
padding:9px;
font-size: 1.5rem;
color: $black;
}

.titlePage .icon:hover {
padding:9px;
font-size: 1.5rem;
background-color: lightblue;
}

.fa-bar:hover{
cursor: hand;
}

.headline {
background-color: $black;
height: 85vh;
margin-left:60px;
margin-right:60px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.title {
padding-top:20px;
font-size: 2.2rem;
font-family: 'Lato', sans-serif;
padding-bottom:10px;
margin:0px;
color: white;
}

.titleDesigner, .titleCreator {
font-size: 1.6rem;
padding-bottom:10px;
margin:0px;
color: white;
}

.aka {
font-size: 1.5rem;
color: white;
padding: 10px 45px 10px 45px;
margin-bottom:10px;
// font-style: italic;
border: 2px solid white;
font-weight: bold;
}

.aka:hover{
border: 2px solid black;	
font-size: 1.5rem;
color: black;
background-color: white;
font-weight: bold;
}

a {
text-decoration: none;
}

.headline h3{
color:white; 
}

.headline{
font-size:10rem;
}

h1 {
color:white;
font-size: 18rem;
font-weight:bold;
margin:0px;
padding-top:50px;
}

.T:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/test.jpg");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
cursor: pointer
}


.A:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/background.jpg");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
cursor: pointer
}

.K:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/brain_new.png");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
cursor: pointer
}

.R:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/cake.jpg");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
cursor: pointer
}

.headline .fa-chevron-down {
margin-top:30px;
color: white;
background-size: 30px;
font-size: 2rem;
// padding-top:10px;
}


