.aboutMe {
padding-bottom:10vh;
padding-top:10vh;
		button {
		padding: 10px 45px 10px 45px;
		font-size:1.5rem;
		border:2px solid black;
		background-color: white;
		// padding: 10px;
		text-align:center;
		font-weight: bold;
	}

		button:hover {
		padding: 10px 45px 10px 45px;
		font-size:1.5rem;
		border:2px solid white;
		background-color: black;
		color: white;
		text-align:center;
		font-weight: bold;
	}
}

.aboutMe h2 {
color:lightblue;
font-size: 1rem;
font-weight: bold;
}

.aboutMeIntro {
text-align: center;
font-size: 12px;
}

.aboutMeBox {
flex-direction: row;
display:flex;
width:70%;
margin:auto;
}

.resume {
flex-direction: row;
display:flex;
width:100%;
justify-content:center;
font-weight: bold;
}

.aboutMe .fa-chevron-down{
color:black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 2rem;
}

.position {
width:50%;
padding: 5px;
// border: 2px solid red;
}

.text {
width:80%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin:auto;

}

.introWords{
    font-size: 2rem;
// font-family: 'Montserrat', sans-serif;
}

.skills {
width:50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.skills img {
width:68%;
// border-radius: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.profileTitle{
font-size:2rem;
font-weight:bold;
text-align: left;

}
.profileTitle span{
	display:block;
}

.time  {
flex-direction: row;
display: flex;

}

.number {
color:black;
font-size: 6rem;
width:100%;
// border: 2px solid red;
text-align:right;
}

.years {
font-size: 2rem;
// border: 2px solid red;
}
// .year{
// 	font-size:5rem;
// }