.portfolioExamples{
height: 100vh;
}

.websites {
display: flex;
flex-direction:column;
justify-content:center;
align-items:center;
	img{
		width:24%;
		padding: 10px;
	}
}

// .pairing{

// flex-direction:row;
// }

.zombie {
display: flex;
flex-direction:column;
justify-content: flex-end;
}


.portfolioExamples h2{
font-size: 3rem;
// padding-top:10px;
}

