nav {
flex-direction: row;
display:flex;
font-size: 1rem;
justify-content: flex-start;
margin-left: 60px;
align-items:center;
	p {
	margin: 5px;
	font-size: 1rem;
	}
		span{
			font-weight:bold;
			font-size: 1rem;

		}
}

//nav icons
.social span{
	// padding-right:5px;
}

.logo{
font-weight: bold;
background-color: orange;
padding:11px;
font-size: 1rem;
margin-right:50%;
}
//nav icons

.titlePage {
background-color: white;
height: 100vh;
}

.headline{
background-color: black;
height: 85vh;
margin-left:60px;
margin-right:60px;
margin-top:20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
	p{
		color:white;
	}
}

h1 {
padding:0px;
color:white;
font-size: 18rem;
font-weight:bold;
margin:0px;
}

.fa-bars{
padding-left:5px;
font-size:20px;
}

.T:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/test.jpg");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
}

.A:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/background.jpg");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
}

.K:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/brain_new.png");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
}

.R:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/cake.jpg");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
}

.title {
padding-top:1px;
font-size: 2rem;
font-weight:bold;
margin:0px;
}

.headline p{
	// color:#FF77FF;
}

.headline .fa-chevron-down {
padding-top:45px;
color: white;
background-size: 30px;
}

