nav {
flex-direction: row;
display:flex;
font-size: 1rem;
justify-content: flex-start;
margin-left: 60px;
align-items:center;
	p {
	margin: 5px;
	font-size: 1.5rem;
	}
		span{
			font-weight:bold;
			font-size: 1.5rem;
			padding:2px;
			// background-color: lightblue;
		}
}

span:hover{
background-color: lightblue;
cursor: pointer; cursor: hand;
}
//nav icons

.fa-twitter {
padding:6px;
}

.fa-linkedin {
padding:6px;
}

.logo{
font-weight: bold;
margin-right:35%;
padding:5px 15px 5px 15px;
font-size: 1.5rem;
border: 5px solid black;
}

.logo:hover{
background-color: lightblue;
padding:5px 15px 5px 15px;
font-size: 1.5rem;
// border-radius: 50%;
}

.fa-bars{
padding-left:80px;
font-size:20px;
}
//nav icons

.titlePage {
background-color: white;
height: 100vh;
}

.headline {
background-color: black;
height: 85vh;
margin-left:60px;
margin-right:60px;
// margin-top:20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.title {
padding-top:1px;
font-size: 2rem;
font-weight:bold;
padding-bottom:15px;
margin:0px;
color: white;
font-family: 'Montserrat', sans-serif;
}

.aka {
font-size: 0.5rem;
color: white;
font-family: 'Montserrat', sans-serif;
margin-bottom:50px;
}

.aka:hover {

}

.headline h3{
	color:white; 
}

h1 {
padding:0px;
color:white;
font-size: 18rem;
font-weight:bold;
margin:0px;
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto', sans-serif;
}



.T:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/test.jpg");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
}

.A:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/background.jpg");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
}

.K:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/brain_new.png");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
}

.R:hover{
transform: scale(1.2);
transition: all 0.5s;
-webkit-text-fill-color: transparent;
background-image: url("../../src/images/cake.jpg");
background-size: 100%;
background-position:cover;
-webkit-background-clip: text;
}

.headline .fa-chevron-down {
margin-top:30px;
color: white;
background-size: 30px;

}

