.titlePage {
  background-color: white;
  height: 100vh; }

.update, .update1, .update2, .update3 {
  width: 33%;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex; }

.line {
  color: #303030;
  padding-left: 10px; }

.nav {
  -ms-flex-direction: row;
      flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #303030;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 1rem; }

.fa-bars {
  cursor: pointer; }

.hidden {
  -ms-flex-direction: row;
      flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #303030;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  display: none;
  cursor: hand; }

.logoBox, .socialBox {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  color: #303030; }

.socialBox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
  color: #303030; }
  .socialBox span {
    font-size: 1.2rem;
    padding-right: 5px; }

nav {
  -ms-flex-direction: row;
      flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  margin-left: 60px;
  margin-right: 60px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-weight: bold;
  color: #303030; }
  nav .social {
    color: #303030;
    font-weight: bold; }

.logo span {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 5px 10px;
  border: 5px solid #303030;
  color: #303030; }

.next {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-right: 60px;
  margin-left: 60px;
  color: black;
  font-weight: bold;
  -ms-flex-pack: justify;
      justify-content: space-between;
  display: none; }
  .next a {
    color: black; }
  .next .home {
    font-size: 1.5rem;
    padding: 5px; }
  .next .fa-bars {
    padding-left: 5px;
    margin-left: 10px; }

.show {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-right: 60px;
  margin-left: 60px;
  color: black;
  font-weight: bold;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .show a {
    color: black; }
  .show .home {
    font-size: 1.5rem;
    padding: 5px; }
  .show .fa-bars {
    padding-left: 5px;
    margin-left: 5px; }

.show .home:hover {
  background-color: lightblue;
  padding: 5px;
  font-size: 1.5rem; }

.fa-bar {
  cursor: hand; }

.titlePage .icon {
  padding: 9px;
  font-size: 1.5rem;
  color: #303030; }

.titlePage .icon:hover {
  padding: 9px;
  font-size: 1.5rem;
  background-color: lightblue; }

.fa-bar:hover {
  cursor: hand; }

.headline {
  background-color: #303030;
  height: 85vh;
  margin-left: 60px;
  margin-right: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.title {
  padding-top: 20px;
  font-size: 2.2rem;
  font-family: 'Lato', sans-serif;
  padding-bottom: 10px;
  margin: 0px;
  color: white; }

.titleDesigner, .titleCreator {
  font-size: 1.6rem;
  padding-bottom: 10px;
  margin: 0px;
  color: white; }

.aka {
  font-size: 1.5rem;
  color: white;
  padding: 10px 45px 10px 45px;
  margin-bottom: 10px;
  border: 2px solid white;
  font-weight: bold; }

.aka:hover {
  border: 2px solid black;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  font-weight: bold; }

a {
  text-decoration: none; }

.headline h3 {
  color: white; }

.headline {
  font-size: 10rem; }

h1 {
  color: white;
  font-size: 18rem;
  font-weight: bold;
  margin: 0px;
  padding-top: 50px; }

.T:hover {
  transform: scale(1.2);
  transition: all 0.5s;
  -webkit-text-fill-color: transparent;
  background-image: url("../../src/images/test.jpg");
  background-size: 100%;
  background-position: cover;
  -webkit-background-clip: text;
  cursor: pointer; }

.A:hover {
  transform: scale(1.2);
  transition: all 0.5s;
  -webkit-text-fill-color: transparent;
  background-image: url("../../src/images/background.jpg");
  background-size: 100%;
  background-position: cover;
  -webkit-background-clip: text;
  cursor: pointer; }

.K:hover {
  transform: scale(1.2);
  transition: all 0.5s;
  -webkit-text-fill-color: transparent;
  background-image: url("../../src/images/brain_new.png");
  background-size: 100%;
  background-position: cover;
  -webkit-background-clip: text;
  cursor: pointer; }

.R:hover {
  transform: scale(1.2);
  transition: all 0.5s;
  -webkit-text-fill-color: transparent;
  background-image: url("../../src/images/cake.jpg");
  background-size: 100%;
  background-position: cover;
  -webkit-background-clip: text;
  cursor: pointer; }

.headline .fa-chevron-down {
  margin-top: 30px;
  color: white;
  background-size: 30px;
  font-size: 2rem; }

.aboutMe {
  height: 100vh;
  padding-top: 10vh; }
  .aboutMe button {
    padding: 10px 45px 10px 45px;
    font-size: 1.5rem;
    border: 3px solid #303030;
    background-color: white;
    text-align: center;
    font-weight: bold; }
  .aboutMe button:hover {
    padding: 10px 45px 10px 45px;
    font-size: 1.5rem;
    border: 3px solid white;
    background-color: #303030;
    color: white;
    text-align: center;
    font-weight: bold; }

.aboutMe h4 {
  font-size: 3rem;
  margin: 0px 0px 30px 0px; }

.aboutMe h3 {
  color: lightblue;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0px;
  padding: 0px; }

.profileTitles {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0px; }

.aboutMeIntro p {
  text-align: center;
  font-size: 12px; }

.aboutMeBox {
  -ms-flex-direction: row;
      flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto; }

.resume {
  -ms-flex-direction: row;
      flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  padding-top: 20px;
  font-weight: bold; }

.aboutMe .fa-chevron-down {
  color: #303030;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 50px; }

.position {
  width: 50%;
  padding: 5px; }

.text {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: auto; }

.introWords p {
  font-size: 1.6rem;
  line-height: 22px; }
  .introWords p span {
    font-size: 3rem;
    font-weight: bold; }
  .introWords p a {
    color: #303030;
    text-decoration: none;
    border-bottom: 2px solid black;
    transition: all ease-in-out 0.5s; }
  .introWords p a:hover {
    border-color: lightblue; }

.skills {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.skills img {
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.profileTitle span {
  display: block; }

.time {
  -ms-flex-direction: row;
      flex-direction: row;
  display: -ms-flexbox;
  display: flex; }

.iconPage {
  width: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100vh;
  background-color: #E8E8E8; }
  .iconPage .fa-chevron-down {
    font-size: 2rem;
    color: #303030;
    margin: auto; }

.skillIcons {
  width: 100%;
  margin-bottom: 50px;
  color: #303030; }
  .skillIcons span {
    padding: 0px 20px 0px 20px;
    font-size: 6rem; }
  .skillIcons p {
    font-size: 1.5rem;
    color: #303030;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 0px; }

.iconFirstRow {
  font-size: 9rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  padding-bottom: 20px; }

.iconGroupThree {
  font-size: 9rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  padding-bottom: 50px; }

.skill {
  padding: 0px 10px; }

.iconSecondRow {
  font-size: 9rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap; }

.iconPage h2 {
  margin-bottom: 60px;
  text-align: center; }

.fa-chevron-down {
  font-size: 2rem;
  margin-top: 30px; }

.website2 {
  margin-left: 60px;
  margin-right: 60px; }

.news {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  margin-bottom: 10vh; }
  .news p {
    width: 90%;
    line-height: 22px; }

.other {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  margin-bottom: 10vh; }
  .other p {
    width: 90%;
    line-height: 25px; }

.portImage {
  width: 100%;
  text-align: center; }
  .portImage img {
    width: 100%; }

.portImage2 {
  width: 100%;
  text-align: center; }
  .portImage2 img {
    width: 100%; }

.website2 h2 {
  text-align: center;
  padding-bottom: 5vh;
  padding-top: 5vh; }

.example1 {
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 1.5rem; }
  .example1 button {
    padding: 10px 45px 10px 45px;
    border: 2px solid #303030;
    background-color: white;
    font-weight: bold; }
  .example1 button:hover {
    padding: 10px 45px 10px 45px;
    font-size: 1.5rem;
    border: 2px solid white;
    background-color: #303030;
    color: white;
    text-align: center;
    font-weight: bold; }

.porfolioOne {
  padding-left: 50px; }

.example1 h3 {
  margin-bottom: 0px;
  font-size: 2rem; }

.example1 h4 {
  margin: 0px;
  font-style: italic;
  font-weight: normal; }

.formContainer {
  width: 100%; }

.footer {
  background-color: #303030;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }
  .footer h3 {
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'Roboto'; }

.contact {
  display: -ms-flexbox;
  display: flex; }

.contact-fields {
  color: white;
  text-align: center;
  font-size: 1rem; }

.contact-text {
  width: 60%;
  padding: 60px 20px;
  font-size: 1rem;
  background: #303030;
  font-family: 'Roboto';
  margin: auto; }

input, textarea {
  border: none;
  padding: 6px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: lightgrey;
  font-weight: bold;
  font-size: 1.5rem; }

input[type=submit] {
  color: #303030;
  font-weight: bold;
  font-size: 1.5rem; }

.extras p {
  color: white;
  font-size: 1.2rem; }

.extras a {
  color: white;
  font-size: 2.3rem;
  padding: 10px; }

.contact-image {
  margin: auto;
  width: 40%;
  padding: 20px; }

.sub {
  width: 100%; }

.contact-form {
  width: 80%;
  margin: 0 auto; }

.form-top {
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.email, .name {
  width: 48%; }
  .email input, .name input {
    width: 95%;
    padding: 10px; }

.email, .name, .subject {
  margin-bottom: 0; }

.email {
  margin-left: 4%; }

.subject input {
  width: 100%; }

.message textarea {
  width: 100%; }

.submit {
  text-align: right; }
  .submit input {
    width: 80px;
    background: white;
    border: 1px solid lightblue; }

img.ajax-loader {
  display: none; }

div.wpcf7-response-output {
  margin: 0;
  padding: 0; }

.wpcf7-mail-sent-ok, .wpcf7-validation-errors, span.wpcf7-not-valid-tip {
  border: none !important;
  font-size: 0.8rem;
  color: lightblue; }

.contact-email {
  width: 80%;
  margin: 20px auto; }
  .contact-email p {
    margin: 0;
    text-align: center; }
    .contact-email p a {
      color: lightblue;
      font-weight: bold; }

.contact-fields {
  width: 60%;
  margin: 20px auto 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.field {
  z-index: 5; }
  .field a {
    color: lightblue; }
  .field p {
    display: none; }
  .field i {
    font-size: 1.6rem; }

.copyright {
  text-align: center; }

.footerlogo {
  background-color: #303030; }
  .footerlogo p {
    text-align: center; }
    .footerlogo p img {
      width: 10%;
      color: #303030; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

@media (max-width: 1080px) {
  h1 {
    font-size: 16rem;
    padding: 0px 20px 0px 20px; } }

@media (max-width: 940px) {
  .headline h1 {
    font-size: 15rem; }
  .aboutMe .aboutMeBox {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    display: -ms-flexbox;
    display: flex; }
    .aboutMe .aboutMeBox .position {
      width: 100%; }
  .porfolioOne {
    padding-left: 0px; }
  .skills {
    width: 60%;
    text-align: center; }
  .text {
    font-size: 1.5rem; }
  .news {
    -ms-flex-direction: column;
        flex-direction: column; }
  .other {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-bottom: 30px; }
  .aboutMe {
    height: auto; }
    .aboutMe .aboutMeBox {
      -ms-flex-align: center;
          align-items: center; }
    .aboutMe .skills {
      width: 80%; }
  .website2 {
    margin-left: 30px;
    margin-right: 30px; }
  .aboutMe img {
    width: 100%;
    padding-bottom: 20px; } }

@media (max-width: 840px) {
  .headline h1 {
    font-size: 12rem; }
  .update2, .update3 {
    display: none; }
  .aboutMe .aboutMeBox {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    display: -ms-flexbox;
    display: flex; }
  .other {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-bottom: 30px; }
  .aboutMe {
    height: auto; }
  .iconPage .fa-chevron-down {
    padding: 20px; }
  .example1 {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .example1 h3 {
    text-align: center; }
  .example1 h4 {
    text-align: center; } }

@media (max-width: 767px) {
  .headline h1 {
    font-size: 10rem;
    padding-bottom: 10px; }
  nav {
    font-size: 0.8rem;
    text-align: center; }
  .iconGroupThree {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 10px; }
    .iconGroupThree .skill {
      padding-bottom: 15px;
      font-size: 6rem; }
  .iconFirstRow {
    padding-bottom: 5px; }
  .iconPage {
    height: auto; }
  .footer {
    width: 100%; }
  .contact-form {
    width: 100%; } }

@media (max-width: 593px) {
  .headline h1 {
    font-size: 8rem;
    padding-bottom: 10px; }
  .update3 {
    display: none; }
  .other {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-bottom: 30px; }
  .aboutMe {
    height: auto; }
  .iconPage .fa-chevron-down {
    padding: 20px; }
  .footer {
    width: 100%; }
  .contact-text {
    width: 100%; } }

@media (max-width: 480px) {
  .introWords p span {
    font-size: 3.5rem; }
  .introWords p {
    font-size: 1.5rem; }
  .iconPage h2 {
    font-size: 3rem; }
  .update2 {
    display: none; }
  .iconPage .fa-chevron-down {
    padding: 20px; }
  .skill {
    padding-bottom: 30px;
    font-size: 5rem;
    text-align: center; }
  .skills img {
    padding-bottom: 20px; }
  .headline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column; }
    .headline h1 {
      font-size: 7rem;
      padding-bottom: 10px; }
  .headline .title {
    font-size: 1.3rem;
    text-align: center;
    padding: 0px;
    margin: 0px; }
  .headline .aka {
    padding: 5px 10px;
    font-size: 1.2rem;
    margin-top: 40px; }
    .headline .aka .headline .aka:hover {
      padding: 5px 10px;
      font-size: 1.2rem;
      margin-top: 40px; }
  .resume button {
    padding: 10px 10px;
    font-size: 1.2rem; }
  .resume button:hover {
    padding: 10px 10px;
    font-size: 1.2rem; }
  .news {
    -ms-flex-direction: column;
        flex-direction: column; }
  .aboutMe .aboutMeBox {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
  .skills {
    padding-bottom: 0px;
    width: 100%; }
  .about .skills {
    width: 100%; }
    .about .skills img {
      width: 100%; }
  .other {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-bottom: 30px; }
  .hide p {
    font-size: 1rem; }
  .show .home {
    font-size: 1rem; }
  .show .socialItem {
    font-size: 1rem; }
  .show .fa-bars {
    font-size: 1rem; }
  .headline {
    margin-left: 30px;
    margin-right: 30px; }
  .aboutMe {
    height: auto; }
  .update2 {
    display: none; }
  .nav {
    margin-left: 30px;
    margin-right: 30px; }
  .iconGroupThree {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 10px; }
    .iconGroupThree .skill {
      padding-bottom: 15px; }
  .iconFirstRow {
    padding-bottom: 0px; }
  .iconPage {
    height: auto; }
  .aboutMe img {
    width: 100%; }
  .footer {
    width: 100%; }
  .contact-text {
    width: 100%; } }

@media (max-width: 320px) {
  .iconPage h2 {
    font-size: 2rem; }
  .headline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column; }
    .headline h1 {
      font-size: 4.5rem;
      padding-bottom: 10px; }
  .headline .title {
    font-size: 1.5rem;
    text-align: center;
    padding: 0px;
    margin: 0px; }
  .headline .aka {
    font-size: 1rem;
    margin-top: 40px; }
  .resume button {
    padding: 10px 10px;
    font-size: 1.2rem; }
  .resume button:hover {
    padding: 10px 10px;
    font-size: 1.2rem; }
  .news {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding-bottom: 30px; }
  .other {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-bottom: 20px; }
  .skills {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    align-items: left;
    padding-bottom: 30px; }
  .aboutMe img {
    width: 100%; }
  .iconGroupThree {
    -ms-flex-direction: column;
        flex-direction: column; }
  .hide p {
    font-size: 1rem; }
  .show .home {
    font-size: 1rem; }
  .footer {
    width: 100%; }
  .contact-text {
    width: 100%; } }

body {
  color: #303030; }

html {
  font-size: 62.5%; }

p {
  font-family: 'Roboto';
  color: #303030; }

h2 {
  font-weight: 700;
  font-size: 4rem; }

h1, h2 h3, h4 {
  font-family: Raleway,Helvetica,sans-serif;
  font-weight: bold; }

button a:visited {
  color: inherit; }

button a {
  color: inherit; }
